<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>FUND YOUR ACCOUNT</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section id="copy-of-your-account" class="container">
    <div class="copy-of-add-link div-bottom">
        Click your bank icon below of the other banks tab
    </div>
    <div class="fund-account-container">
        <div class="row row-container">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://secure.bankofamerica.com/login/sign-in/signOnV2Screen.go"><img src="/images/fund_1_1.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://www.chase.com/online/digital/online-banking.html"><img src="/images/fund_1_2.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="#"><img src="/images/fund_1_3.png"></a>
            </div>
        </div>
        <div class="row row-container">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://online.citi.com/US/JRS/pands/detail.do?ID=BankingOverview&JFP_TOKEN=VEBI9QUU"><img src="/images/fund_2_1.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://www.tdbank.com/net/accountlogin.aspx"><img src="/images/fund_2_2.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://www.pnc.com/en/personal-banking/banking/online-and-mobile-banking.html"><img src="/images/fund_2_3.png"></a>
            </div>
        </div>
        <div class="row row-container">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://verified.capitalone.com/sic-ui/#/signin"><img src="/images/fund_3_1.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://www.gsbank.com/gsbank/app/pingLogin"><img src="/images/fund_3_2.png"></a>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <a href="https://www.security.us.hsbc.com/gsa/SECURITY_LOGON_PAGE/"><img src="/images/fund_3_3.png"></a>
            </div>
        </div>
        <div class="row row-container">
            <button class="btn-add-bank clicker">OtherBank - Don't See Your Bank? Click to Add</button>
        </div>
    </div>
</section>

<!-- <section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
