<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>CAREERS</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container margin-top-50">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="font-color-blue font-25px">
                    At IQ Vestment we are always on the lookout for top talent!  
                </div>
                <div class="margin-top-30 benefit-title-font-color font-21px">
                    Please see a list of our job openings below.
                </div>
                <div class="margin-top-50 benefit-title-font-color font-21px grey-bottom-border-1px padding-bottom-15">
                    Job Openings
                </div>
                <div class="margin-top-30 font-color-black font-20px">
                    Presently we have no job openings, but please feel free to drop us your resume!
                </div>
                <div class="margin-top-50">
                    <a class="btn-careers-email">Email us your resume</a>
                </div>
            </div>
        </div>
    </div>
</section>