<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1 ">
        <div class="full-width-background-div height-365" style="background: url(images/contact_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                        <div class="container">
                            <h4>CONTACT US</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="contact-header benefit-title-font-color font-25px">
                Customer Support<hr class="underline-border">
            </div>
            <div class="contact-phone-details font-16px margin-top-30">
                <img src="images/contact_icon_phone.png">  &nbsp;&nbsp;(877) 486-4702
            </div>
            <div class="font-16px margin-top-10">
                <a class="contact-email-details" href="mailto:support@iqvestment.com"><img src="images/contact_icon_email.png">  &nbsp;&nbsp;support@iqvestment.com</a>
            </div>
            <div class="contact-email-details font-16px margin-top-10">
                <img src="images/contact_icon_message.png">  &nbsp;Ask us a Question
            </div>

            <div class="font-16px margin-top-30 font-bold benefit-title-font-color">
                Phone/Live Chat Support Hours
            </div>
            <div class="font-16px margin-top-5 benefit-title-font-color">
                Monday - Friday: 9:00 AM - 5PM ET
            </div>
            <div class="font-16px benefit-title-font-color">
                Saturday - Sunday 12:00 PM - 4PM ET
            </div>
            <div class="contact-header margin-top-30 benefit-title-font-color">
                Contact Form
            </div>
            <div class="margin-top-10 div-align-center">
                <input class="div-contact-input-field" type="text" placeholder="Name">
            </div>
            <div class="input-field-container-div div-align-center" >
                <input class="div-contact-input-field" type="text" placeholder="Email">
            </div>
            <div class="input-field-container-div div-align-center">
                <input class="div-contact-input-field" type="text" placeholder="Subject">
            </div>
            <div class="input-field-container-div div-align-center">
                <textarea class="div-contact-textarea-field" type="text" placeholder="Message"></textarea>
            </div>
            <div class="input-field-container-div">
                <button type="button" class="btn-contact-send clicker float-right">Send</button>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <app-map class="google-map margin-top-70" lat="42.325561" lng="-71.252544"> 
            </app-map>
            <div class="contact-address margin-top-30">
                <div class="contact-address-title">
                    IQ Vestment
                </div>
                <div class="margin-top-10">
                    40 Walnut St.<br>
                    Wellesley, MA 02481<br>
                    info@MyFusionIQ.com
                </div>
            </div>                                                                                          
        </div>
    </div>
</section>



