<section id="main-slider" class="no-margin fadeInDown">
    <div class="faq-back-container margin-top-140">
        <div class="container">
            <div class="margin-top-113 font-24px">
                Frequently Asked Questions
            </div>
            <div class="margin-top-20 font-17px">
                You have questions.  We have answers
            </div>
            <div class="margin-top-40 width-95per">
                <input class="faq-search-input" placeholder="How can we help you ?">
                <a class="faq-search-btn">Search</a>
            </div>
            <div class="margin-top-40 width-90per font-20px">
                Most common questions
            </div>
            <div class="margin-top-20 width-90per font-15px">
                How do I get started with IQ Investment ?
            </div>
            <div class="margin-top-20 width-90per font-15px">
                How do I fund my IQ Vestment account?
            </div>
            <div class="margin-top-20 width-90per font-15px">
                Where is my account held?
            </div>
            <div class="margin-top-20 width-90per font-15px">
                What types of accounts does IQ Vestment currently support?
            </div>
            <div class="margin-top-20 width-90per font-15px">
                Do you accept retirement accounts?
            </div>
            <div class="margin-top-20 width-90per font-15px">
                How much does IQ Vestment charge for its service?
            </div>
            <div class="margin-top-20 width-90per font-15px">
                Can I transfer an account from another firm to IQ Vestment?
            </div>
            <div class="margin-top-20 width-90per font-15px">
                Rollover: Can I roll over a 401k, 403b or TSP into an IRA?
            </div>
            <div class="margin-top-20 width-90per font-15px margin-bottom-20">
                I live outside of the U.S. Can I open an account?
            </div>

        </div>
    </div>
</section><!--/#main-slider-->

<section class="fadeInDown border-bottom-2px faq-footer-back ">
    <div class="container margin-top-20 margin-bottom-20">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="faq-detail-container text-center">
                    <div>
                        <a><img class="border-circle" src="images/faq_getting_started.png"></a>
                    </div>
                    <div class="font-17px font-color-black font-bold">
                        Getting Started
                    </div>
                    <div class="font-15px font-color-black margin-top-5">
                        New IQ Vestment Clients
                    </div>
                    <div class="margin-top-20 margin-bottom-20">
                        <a class="btn-explore">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="faq-detail-container text-center">
                    <div>
                        <a><img class="border-circle" src="images/faq_my_iq_vestment.png"></a>
                    </div>
                    <div class="font-17px font-color-black font-bold">
                        My IQ Vestment
                    </div>
                    <div class="font-15px font-color-black margin-top-5">
                        Existing IQ Vestment Clients
                    </div>
                    <div class="margin-top-20 margin-bottom-20">
                        <a class="btn-explore">Explore</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="faq-detail-container text-center">
                    <div>
                        <a><img class="border-circle" src="images/faq_education_center.png"></a>
                    </div>
                    <div class="font-17px font-color-black font-bold">
                        Education Center
                    </div>
                    <div class="font-15px font-color-black margin-top-5">
                        Open to all visitors
                    </div>
                    <div class="margin-top-20 margin-bottom-20">
                        <a class="btn-explore">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Need more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <button class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
