<section id="main-slider" class="no-margin fadeInDown">
    <div class="full-width-container block-1">
        <div class="full-width-background-div" style="background: url(images/background.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="background-mask">
                <div class="center-cn-div">
                    <div class="background-title center-inner-div">
                        <h4>Automated, intelligent portfolios for today's modern world.</h4>
                        <p>Answer a few simple questions and get a portfolio that's perfect for you!</p>
                        <a ng-if="login_flag == false" href="#/open-account-question-1" ng-click="clickedGetStarted()" type="button" class="btn-get-started btn-get-started-clicker div-bottom">Get Started</a>
                        <a ng-if="login_flag == true" href="#/account-overview" ng-click="clickedGetStarted()" type="button" class="btn-get-started btn-get-started-clicker div-bottom">Go to My Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section id="feature fadeInDown" class="height-414">
    <div class="container">
        <div class="center wow fadeInDown home-images-container">
            PORTFOLIOS FOR ALL YOUR INVESTING NEEDS <hr class="portfolio-bottom">
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="image-container feature-image-container">
                    <a href="#/methodology" class="cursor-pointer"><img class="feature-image" src="images/intelligent_portfolios.png"></a>
                </div>
                <div class="content-details">
                    <div class="content-header">
                        INTELLIGENT PORTFOLIOS
                    </div>
                    <div>Sophisticated portfolios backed by cutting edge technology and analytics.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="image-container">
                    <a href="#/methodology" class="cursor-pointer"><img class="feature-image" src="images/21th century technology.png"></a>
                </div>
                <div class="content-details">
                    <div class="content-header">
                        21ST CENTURY TECHNOLOGY
                    </div>
                    <div>Automated trading, and portfolio rebalancing. Web and Mobile Apps</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="image-container">
                    <a class="cursor-pointer" href="#/investment-benefits"><img class="feature-image growIn" src="images/transparent_and_low_cost.png"></a>
                </div>
                <div class="content-details">
                    <div class="content-header">
                        TRANSPARENT AND  LOW COST
                    </div>
                    <div>IQ Vestment provides low cost, fully transparent portfolio solutions.</div>
                </div>
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#feature-->

<section class="padding-0 fadeInDown position-relative border-third-part margin-top-20">
        <div class="home-third-part">
        </div>
        <div class="third-part-content">
            <div class="container">
                <div class="row padding-top-60">
                    <div class="col-xs-12 col-sm-4 col-md-4 float-right-class">
                        <div class="image-container">
                            <img class="feature-image" src="images/cutting_edge_technology.png">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-8 float-left-class">
                        <div class="cutting-edge-content">
                            <p><span class="cutting-edge-header">CUTTING EDGE TECHNOLOGY AT YOUR FINGERTIPS ... 24/7</span></p>
                            <br>
                            <p class="cutting-edge-details"><span>Powered by FusionIQ’s proprietary four-dimensional scoring model, which includes but is not limited to: valuation, balance sheet strength, improving financials, price momentum, sentiment, and a broad range of technical factors, IQ Vestment StockCarts are grounded in the belief that simpler is better, but more relevant information is preferred to less. The value-add of the FusionIQ model comes from the stability we present using quality, time-tested factors, and from providing a dynamic weighting scheme which amplifies the models effectiveness by adjusting the factor weights for various market environments.</span></p>
                            <a href="#/cutting-edge-technology" class="btn-cutting-edge-read-more clicker">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section><!--/#main-slider-->
<!-- 
<section id="cutting-edge" class="fadeInDown height-414" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 float-right-class">
                <div class="image-container">
                    <img class="feature-image" src="images/cutting_edge_technology.png">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-8 float-left-class">
                <div class="cutting-edge-content">
                    <p><span class="cutting-edge-header">CUTTING EDGE TECHNOLOGY AT YOUR FINGERTIPS ... 24/7</span></p>
                    <br>
                    <p class="cutting-edge-details"><span>Powered by FusionIQ’s proprietary four-dimensional scoring model, which includes but is not limited to: valuation, balance sheet strength, improving financials, price momentum, sentiment, and a broad range of technical factors, IQ Vestment StockCarts are grounded in the belief that simpler is better, but more relevant information is preferred to less. The value-add of the FusionIQ model comes from the stability we present using quality, time-tested factors, and from providing a dynamic weighting scheme which amplifies the models effectiveness by adjusting the factor weights for various market environments.</span></p>
                    <a href="#/cutting-edge-technology" class="btn-cutting-edge-read-more clicker">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>
 -->
<section id="rule-based" class="fadeInDown height-414">
    <div class="container">
        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="image-container">
                    <img class="feature-image" src="images/rules_based adapative.png">
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-8">
                <div class="rule-based-content">
                    <p><span class="rule-base-header">RULES-BASED, ADAPTIVE & PROCESS DRIVEN</span></p>
                    <br>
                    <p class="rule-based-details"><span>At IQ Vestment our products are our process. At the core of our investment process is rigorous, multi-disciplined, four-dimensional, multi-factor model which allows for a standardized equity scoring system.  From there, we are able overlay proprietary risk analytics as well as other portfolio metrics to create professionally curated, "man and machine" stock baskets, called Carts, tailored to your individual portfolio needs.</span></p>
                    <a href="#/rule-based" class="btn-rule-based-content clicker">Read More</a>
                </div>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</section>

<section id="main-slider" class="no-margin fadeInDown">
    <div class="investing-full-width-container block-1">
        <div class="full-width-background-div" style="background: url(images/home_bottom_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="background-mask">
                <div class="center-cn-div">
                    <div class="background-title center-inner-div">
                        <div class="font-white-30px">Are you ready to start investing intelligently?</div>
                        <div class="font-white-20px">Sophisticated, low cost investing ... made easy!</div>
                        <a type="button" class="btn_start_now background-color-get-started" target="_top" href="#/open-account-question-1">Start Now. No Obligations.</a>
                        <div class="font-white-18px">Fully automated or advisor assisted ... you choose!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<!-- <section id="latest-news" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="latest-news-header">LATEST NEWS</div>
                <div class="fusionIQ"><a class="fusion-link" href="#">FusionIQ Whitepaper</a></div>
                <div class="fusion-date">December 18, 2015</div>
                <div><a class="more-news" href="#">More News ></a></div>

            </div>
        </div>
    </div>
</section> -->

<section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="btn-contact-us clicker float-right-class">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
