<div class="modal fade" id="loginModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" align="center">
				<button type="button" ng-click="close('Cancel')" class="close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<h2>Login Form </h2>
			</div>
            
            <!-- Begin # DIV Form -->
            <div id="div-forms">
            
                <!-- Begin # Login Form -->
                <form id="login-form">
	                <div class="modal-body">
			    		<div id="div-login-msg">
                            <div id="icon-login-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-login-msg">Type your username and password.</span>
                        </div>
			    		<input id="login_username" enter-press="login()" class="form-control margin-top-10" type="text" placeholder="Username or Email" required>
			    		<input id="login_password" enter-press="login()" class="form-control margin-top-10" type="password" placeholder="Password" required>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                        </div>
    		    	</div>
			        <div class="modal-footer">
                        <div>
                            <button type="submit" ng-click="login()" class="btn btn-primary btn-lg btn-block">Login</button>
                        </div>
			    	    <div>
                            <button id="login_lost_btn" type="button" class="btn btn-link">Forgot Password?</button>
                            <button id="login_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
			        </div>
                </form>
                <!-- End # Login Form -->
                
                <!-- Begin | Lost Password Form -->
                <form id="lost-form" style="display:none;">
	    		    <div class="modal-body">
	    				<div id="div-lost-msg">
                            <div id="icon-lost-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-lost-msg">Type your e-mail.</span>
                        </div>
	    				<input id="lost_email" class="form-control" type="text" placeholder="E-Mail (type ERROR for error effect)" required>
        			</div>
	    		    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Send</button>
                        </div>
                        <div>
                            <button id="lost_login_btn" type="button" ng-click="login()" class="btn btn-link">Log In</button>
                            <button id="lost_register_btn" type="button" class="btn btn-link">Register</button>
                        </div>
	    		    </div>
                </form>
                <!-- End | Lost Password Form -->
                
                <!-- Begin | Register Form -->
                <form id="register-form" style="display:none;">
        		    <div class="modal-body">
	    				<div id="div-register-msg">
                            <div id="icon-register-msg" class="glyphicon glyphicon-chevron-right"></div>
                            <span id="text-register-msg">Register an account.</span>
                        </div>
	    				<input id="register_username" class="form-control" type="text" placeholder="Username (type ERROR for error effect)" required>
                        <input id="register_email" class="form-control" type="text" placeholder="E-Mail" required>
                        <input id="register_password" class="form-control" type="password" placeholder="Password" required>
        			</div>
	    		    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>
                        </div>
                        <div>
                            <button id="register_login_btn" type="button" class="btn btn-link">Log In</button>
                            <button id="register_lost_btn" type="button" class="btn btn-link">Lost Password?</button>
                        </div>
	    		    </div>
                </form>
                <!-- End | Register Form -->
                
            </div>
            <!-- End # DIV Form -->
            
		</div>
	</div>
  	<!-- <div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-header">
		        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Login</h4>
	      	</div>
	      	<div class="modal-body">
	        	<div class="row">
	        		<div class="col-xs-12 col-sm-12 col-md-12">
	        			<div class="login-body">
                            <div class="login-label-input-container">
                                <div class="login-label-container padding-top-10">
                                    E-mail
                                </div>
                                <div class="login-input-container">
                                    <input ng-model="userEmail" enter-press="login()" class="login-input">
                                </div>
                            </div>
                            <div class="login-label-input-container">
                                <div class="login-label-container margin-top-5">
                                    Password
                                </div>
                                <div class="login-input-container">
                                    <input ng-model="userPassword" enter-press="login()" type="password" class="login-input">
                                </div>
                            </div>
                        </div>
	        		</div>
	        	</div>
	        </div>
	      	<div class="modal-footer">
				<a type="button" class="btn-ach-confirm" ng-click="login()" data-dismiss='modal'>Login</a>
				<a type="button" class="btn-ach-confirm" ng-click="close('Cancel')" data-dismiss='modal'>Cancel</a>
	      	</div>
	    </div>
  	</div> -->
</div>