<section id="main-slider" class="no-margin fadeInDown login-container">
    <div class="open-account-full-width-container block-1">
        <div class="login-full-width-background-div" style="background: url(images/login_back_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        
        <div class="full-width-containter-content center-inner-div margin-top-300">
            <div class="container">
                <div class="row no-padding">
                    <div class="col-xs-12 col-sm-8 col-md-8 login-left-banner">
                        <div class="font-30px login-title">
                            Welcome Back.
                        </div>
                        <div class="login-body">
                            <div class="login-label-input-container">
                                <div class="login-label-container padding-top-10">
                                    E-mail
                                </div>
                                <div class="login-input-container">
                                    <input ng-model="userEmail" enter-press="login()" class="login-input">
                                </div>
                            </div>
                            <div class="login-label-input-container">
                                <div class="login-label-container margin-top-5">
                                    Password
                                </div>
                                <div class="login-input-container">
                                    <input ng-model="userPassword" enter-press="login()" type="password" class="login-input">
                                </div>
                            </div>
                            <div class="login-btn-container">
                                <a type="button" href="" ng-click="login()" class="btn-form-login text-center continue-clicker float-left div-bottom">Login</a>
                                <a type="text" href="#/" class="float-right-class forgot-password margin-top-5">Forgot Password ?</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 login-right-banner">
                        <img class="float-left-class" src="images/login_form_back_img.png" style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<!-- <section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
