<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="full-width-background-div" style="background: url(images/news_update_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                      <div class="container">
                        <h4>NEWS & UPDATES</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="container height-400">
    <div class="news-update-title">
        FushionIQ Whitepaper
    </div>
    <div >
        December 18, 2015
    </div>
    <div class="row news-update-details">
        <div class="col-xs-12 col-sm-4 col-md-4 div-align-center">
            <a href="#/single-post/2015/11/29/No-More-Saving"><img src="images/news_update_detail_img.png"></a>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="news-update-details-height">
                <span class="text-bold">Please click Read More below (then the image in the next page) to be directed to our extensive, independent 3rd party whitepaper </span>that explains the value add FushionIQ's powerful four dimensional algorithm ...
            </div>
            <div>
                <a href="#/single-post/2015/11/29/No-More-Saving" type="button" class="btn-cutting-edge-read-more continue-clicker float-left div-bottom">Read More</a>
            </div>
        </div>
    </div>
    
</section>

