<section class="container no-more-saving">
	<div class="row">
		<div class="col-xs-12 col-sm-9 col-md-9">
			<div class="contact-header font-bold">
				FusionIQ Whitepaper
			</div>
			<div class="margin-top-10">
				December 18, 2015
			</div>
			<div class="margin-top-20 font-16px">
				<span class="text-bold">Please click Read More below (then the image in the next page) to be directed to our extensive, independent 3rd party whitepaper </span>that explains the value add FushionIQ's powerful four dimensional algorithm ...
			</div>
			<div class="margin-top-10">
				<a href="resources/Four_Dimensions.pdf" target="_blank"><img class="fushion-medium-img" src="images/fushion_iq_medium_img.png"></a>
			</div>
			<div class="margin-top-50 font-13px">
				Tags:
				<a class="color-1 margin-right-10 margin-left-10" href="#/news/tag/savings">savings</a>
				<a class="color-1 " href="#/news/tag/personal-finances">personal finances</a>
			</div>
			<div class="margin-top-20">
				<a class="margin-left-10" href="https://plus.google.com" target="_blank"><img src="images/google_tiny_icon.png"></a>
				<a class="margin-left-10" href="https://www.pinterest.com" target="_blank"><img src="images/pinterest_tiny_icon.png"></a>
				<a class="margin-left-10" href="https://www.facebook.com" target="_blank"><img src="images/facebook_tiny_icon.png"></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 fushion-details">
			<div class="font-20px">
				Featured Post<hr class="underline-border">
				<a id="wrapper-post" class="featured-post">
					<div class="margin-top-10">
						<img class="fushion-small-img" src="images/fushion_iq_small_img.png">
					</div>
					<div class="margin-top-10 font-17px">
						FushionIQ Whitepaper
					</div>
					<div class="font-12px">
						December 18, 2015
						<div id="child-post" class="color-white float-right-class margin-right-10">1/1</div>
					</div>
				</a>		
			</div>
			
			<div class="font-20px margin-top-20">
				Recent Posts<hr class="underline-border">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 padding-right-1">
						<img class="fushion-small-img" src="images/fushion_iq_tiny_img.png">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 padding-left-5">
						<div class="font-13px">
							<a class="color-1 hover-underline" href="#/single-post/2015/11/29/No-More-Saving">Fushion IQ Whitepaper</a>
						</div>
						<div class="font-12px">
							December 18, 2015
						</div>
					</div>
				</div>
			</div>

			<div class="font-20px margin-top-20">
				Archive<hr class="underline-border">
				<div class="font-13px">
					<a class="color-1 hover-underline" href="#/news/date/2015-12">December 2015 (1)</a>
				</div>
			</div>

			<div class="font-20px margin-top-20">
				Search By Tags<hr class="underline-border">
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-7 font-13px padding-right-1">
						<a class="color-1 hover-underline" href="#/news/tag/personal-finances">personal finances</a>
					</div>
					<div class="col-xs-12 col-sm-5 col-md-5 font-13px padding-left-1">
						<a class="color-1 hover-underline" href="#/news/tag/savings">savings</a>
					</div>
				</div>
			</div>
			<div class="font-20px margin-top-20">
				Follow Us<hr class="underline-border">
				<a href="https://www.facebook.com/wix"><img src="images/facebook_tiny_icon.png"></a>
				<a href="https://twitter.com/wix"><img src="images/twitter_tiny_icon.png"></a>
				<a href="https://plus.google.com/+Wix"><img src="images/google_tiny_icon.png"></a>
			</div>
		</div>
	</div>
</section>