<section id="main-slider" class="no-margin fadeInDown login-container margin-top-113">
    <div class="signup-full-width-container block-1">
        <div class="signup-full-width-background-div" style="background: url(images/signup_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        
        <div class="full-width-containter-content center-inner-div margin-top-180">
            <div class="container">
                <div class="row no-padding">
                    <div class="col-xs-12 col-sm-12 col-md-12 login-left-banner">
                        <div class="font-30px login-title">
                            Change Profile
                        </div>
                        <div class="profile-body">
                            <div class="login-label-input-container">
                                <div class="login-label-container padding-top-25">
                                    Old a Password
                                </div>
                                <div class="login-input-container">
                                    <input class="login-input" type="password" ng-model="userOldPassword">
                                </div>
                            </div>
                            <div class="login-label-input-container">
                                <div class="login-label-container">
                                    Enter a New Password
                                </div>
                                <div class="login-input-container">
                                    <input class="login-input" type="password" ng-model="userNewPassword">
                                </div>
                            </div>
                            <div class="login-label-input-container">
                                <div class="login-label-container margin-top-5">
                                    Confirm Password
                                </div>
                                <div class="login-input-container">
                                    <input ng-model="userNewConfirmPassword" type="password" class="login-input">
                                </div>
                            </div>
                            <div class="login-btn-container">
                                <a type="button" href="" ng-click="changePassword()" class="btn-form-login text-center continue-clicker float-left div-bottom">Change Password</a>
                            </div>
<!--                             <div class="login-btn-container">
                                <a type="button" href="" class="btn-form-login text-center continue-clicker float-left div-bottom">Reset Password</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

