<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="full-width-background-div" style="background: url(images/iq_stockcarts_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                      <div class="container">
                        <h4>Rules Based Investing </h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="container">
    <div class="col-xs-12 col-sm-12 col-md-12 get-started-1-title">
        Benefits of Rules Based Investing
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 iq-stock-title-font">
        We believe that there are clear diversification benefits in combining multiple investment disciplines
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 iq-stock-detail-font">
        Our quantitative investments outperform at different times than our fundamental strategies. This enables us to have a more stable alpha than if we were to focus solely on one type of strategy. The factors that boost market returns vary - sometimes the market is factor-driven or sentiment driven which makes it particularly suitable for quantitative strategies. On the other hand, markets where dissecting hard to quantify elements such as changes in business strategy and external risk is important are more suitable for fundamental strategies. 
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 iq-stock-detail-font">
        This diversification exists because the strategies look at different aspects of a company and market sentiment. The investment horizon is also different - for quant a maximum of three years, while most of our fundamental strategies focus on three to five years. But some have a ten year horizon or even an indefinite horizon. Furthermore, our quantitative strategies often follow value strategies, while our external fundamental managers tend to follow a growth strategy. Sometimes value is in vogue, while other times it is growth. 
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 iq-stock-detail-font">
        Because of the size of our fund our only major restriction is deciding on what works. We do not have to limit ourselves to only a few strategies. We can add an extra strategy as long as it contributes to a more stable outperformance and money alpha.
    </div>
</section>

<!-- <section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
