<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>OPEN YOUR ACCOUNT</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section id="copy-of-your-account">
    <div class="container congratulation-section">
        <div class="glyphicon glyphicon-ok check-icon">
            
        </div>
        <div class="font-green-30px margin-top-20">
            Congratulations and Welcome to IQ Vestment
        </div>
        <div class="font-18px margin-30 max-width-700">
            Based on the information and risk profile you provided us we have selected the <a href="#/open-account-step-4" class="font-18px over-stock">IQ Vestment Famous Brands StockCart</a> for your portfolio needs.
        </div>
        <div class="font-18px margin-30 max-width-700">
            Your account is now opened please click the link below to fund your account and purchase your portfolio.
        </div>
        <div class="margin-30">
            <a type="button" href="#/open-account-step-11" class="btn-fund clicker">Fund My Account</a>
        </div>
    </div>
</section>

<section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
