<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>OPEN YOUR ACCOUNT</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section id="copy-of-your-account" class="container margin-top-70">
    <div class="">
        <a class="copy-of-add-link div-bottom" href="#/add-bank-account"><img src="images/plus_new_img.png">&nbsp;Add/Link up your bank account info for funding</a>
    </div>
    <div class="panel panel-fund">
        <div class="panel-heading lock-panel-header row">
            <div class="col-xs-12 col-md-2 col-md-2 div-center lock-image-container">
                <img src="images/panel_lock_dark.png">
            </div>
            <div class="col-xs-12 col-md-10 col-md-10">
                <div class="panel-title pull-center margin-top-5">
                    We safeguard your information and account with Bank Level Security
                </div>
            </div>    
            <div class="clearfix"></div>
        </div>
        <div class="panel-body panel-fund-body">
            We use the most state of the art security measures to protect your information and account.
        </div>
        <div class="panel-footer">
            <a href="#/contact">Learn More</a>
        </div>
    </div>
</section>

<section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Need more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="btn-contact-us continue-clicker">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
