<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1 ">
        <div class="full-width-background-div height-367" style="background: url(images/news_update_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                      <div class="container">
                        <h4>IQ INSIGHTS</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section>
    <div class="container">
        <div class="">
            <a class="btn-blog-investing">Investing</a>
            <a class="btn-blog-analysis margin-left-5">Quantitative Analysis</a>
        </div>
        <div class="margin-top-20">
            <b class="font-20px benefit-title-font-color news-update-title ">FushionIQ Whitepaper</b>
        </div>
        <div  class="font-15px font-color-black">
            July 24, 2017
        </div>
        <div class="row news-update-details">
            <div class="col-xs-12 col-sm-4 col-md-4 div-align-center">
                <a href="#/single-post/2015/11/29/No-More-Saving"><img src="images/news_update_detail_img.png"></a>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="news-update-details-height">
                    In the article below we talk about FusionIQ's independent factor model white paper. Please click Read More below (then the image in the next page) to be directed to our extensive, independent 3rd party whitepaper that explains the value add of FusionIQ's powerful f...
                </div>
                <div class="margin-top-20">
                    <a href="#/single-post/2015/11/29/No-More-Saving" type="button" class="btn-cutting-edge-read-more continue-clicker float-left div-bottom">Read More</a>
                </div>
            </div>
        </div>

        <div class="margin-top-30">
            <a class="btn-blog-investing">Investing</a>
        </div>
        <div class="margin-top-20">
            <b class="font-20px benefit-title-font-color news-update-title ">What are adaptive dynamic portfolios?</b>
        </div>
        <div class="font-15px font-color-black">
            July 24, 2017 | <a class="font-15px font-color-black">Kevin Lane</a>
        </div>
        <div class="row news-update-details">
            <div class="col-xs-12 col-sm-4 col-md-4 div-align-center">
                <a href="#/single-post/2015/11/29/No-More-Saving"><img src="images/blog_adaptive_dynamic.png"></a>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="news-update-details-height">
                    IQ Vestment's Adaptive Dynamic Portfolios (ADPs) are powered by FusionIQ’s proprietary four-dimensional scoring model, which, includes but is not limited to: valuation, balance sheet strength, improving financials, price momentum, sentiment, and a broad range of te...
                </div>
                <div class="margin-top-20">
                    <a href="#/single-post/2015/11/29/No-More-Saving" type="button" class="btn-cutting-edge-read-more continue-clicker float-left div-bottom">Read More</a>
                </div>
            </div>
        </div>
    </div>
    
</section>

