<section id="main-slider" class="no-margin fadeInDown">
    <div class="company-news-header block-1 ">
        <div class="full-width-background-div height-367" style="background: url(images/news_update_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                      <div class="container">
                        <h4>COMPANY NEWS</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="margin-top-20 font-34px benefit-title-font-color">
                    <b>Recent IQ Vestment News</b>
                </div>
                <div class="margin-top-30 font-16px font-color-black">
                    July 17, 2017
                </div>
                <div class="margin-top-10 font-20px benefit-title-font-color">
                    IQ Vestment launches robo stocks platform ...
                </div>
                <div class="margin-top-10 font-14px font-color-black line-height-17px">
                    This is a dummy story just for layout purposes.  It is not an actual story but rather just random typing so we can see how it lay out.  So far so good  So far it looks pretty good to me!
                </div>
                <div class="margin-top-30">
                    <a class="btn-company-news-readmore">Read More</a>
                </div>
                <div class="margin-top-50 font-16px font-color-black">
                    July 24, 2017
                </div>
                <div class="margin-top-10 font-20px benefit-title-font-color">
                    IQ Vestment offers asset allocation portfolios
                </div>
                <div class="margin-top-10 font-14px font-color-black line-height-17px">
                    This is a dummy story just for layout purposes.  It is not an actual story but rather just random typing so we can see how it lay out.  So far so good  So far it looks pretty good to me!
                </div>
                <div class="margin-top-30">
                    <a class="btn-company-news-readmore">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>