<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>MORE INVESTMENT OPTIONS</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section id="copy-of-your-account">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="get-started-1-title font-color-blue">
                    <b>Investment Options</b>
                </div>
                <div class="font-20px margin-top-20">
                    Based on your risk profile and your higher level of investment knowledge we have several options that could be perfect for you!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="small-choice-panel">
                    <div class="small-choice-panel-header panel-header-selected">
                        Best Option
                    </div>
                    <div class="small-choice-panel-body panel-body-selected">
                        <div class="benefit-title-font-color font-22px text-center">
                            Fundamental Focus
                        </div>
                        <div class="margin-top-10 text-center">
                            <img class="choice-image-cotainter" src="images/choice_fundamental_focus.png"/>
                        </div>
                        <div class=" benefit-title-font-color font-20px text-center">
                            Master Score
                        </div>
                        <div class="margin-top-10 small-choice-panel-btn font-22px">
                            83
                        </div>
                    </div>
                    <div class="small-choice-panel-footer panel-footer-selected">
                        <a ng-click="showChoiceDetails(1)" class="cursor-pointer font-19px color-white"><u>Click to see portfolio & stats</u></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="small-choice-panel">
                    <div class="small-choice-panel-header">
                        Option 2
                    </div>
                    <div class="small-choice-panel-body">
                        <div class="benefit-title-font-color font-22px text-center">
                            Famous Brands
                        </div>
                        <div class="margin-top-10 text-center">
                            <img class="choice-image-cotainter" src="images/choice_famous_brand.png"/>
                        </div>
                        <div class=" benefit-title-font-color font-20px text-center">
                            Master Score
                        </div>
                        <div class="margin-top-10 small-choice-panel-btn font-22px">
                            81
                        </div>
                    </div>
                    <div class="small-choice-panel-footer">
                        <a ng-click="showChoiceDetails(2)" class="cursor-pointer font-19px benefit-title-font-color"><u>Click to see portfolio & stats</u></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="small-choice-panel">
                    <div class="small-choice-panel-header">
                        Option 3
                    </div>
                    <div class="small-choice-panel-body">
                        <div class="benefit-title-font-color font-22px text-center">
                            Mega Caps
                        </div>
                        <div class="margin-top-10 text-center">
                            <img class="choice-image-cotainter" src="images/choice_mega_caps.png"/>
                        </div>
                        <div class=" benefit-title-font-color font-20px text-center">
                            Master Score
                        </div>
                        <div class="margin-top-10 small-choice-panel-btn font-22px">
                            81
                        </div>
                    </div>
                    <div class="small-choice-panel-footer">
                        <a ng-click="showChoiceDetails(3)" class="cursor-pointer font-19px benefit-title-font-color"><u>Click to see portfolio & stats</u></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="small-choice-panel">
                    <div class="small-choice-panel-header">
                        Option 4
                    </div>
                    <div class="small-choice-panel-body">
                        <div class="benefit-title-font-color font-22px text-center">
                            Best Sectors
                        </div>
                        <div class="margin-top-10 text-center">
                            <img class="choice-image-cotainter" src="images/choice_mega_caps.png"/>
                        </div>
                        <div class=" benefit-title-font-color font-20px text-center">
                            Master Score
                        </div>
                        <div class="margin-top-10 small-choice-panel-btn font-22px">
                            79
                        </div>
                    </div>
                    <div class="small-choice-panel-footer">
                        <a ng-click="showChoiceDetails(3)" class="cursor-pointer font-19px benefit-title-font-color"><u>Click to see portfolio & stats</u></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="small-choice-panel">
                    <div class="small-choice-panel-header">
                        Option 5
                    </div>
                    <div class="small-choice-panel-body">
                        <div class="benefit-title-font-color font-22px text-center">
                            Golden Anniversary
                        </div>
                        <div class="margin-top-10 text-center">
                            <img class="choice-image-cotainter" src="images/choice_golden_anniversary.png"/>
                        </div>
                        <div class=" benefit-title-font-color font-20px text-center">
                            Master Score
                        </div>
                        <div class="margin-top-10 small-choice-panel-btn font-22px">
                            78
                        </div>
                    </div>
                    <div class="small-choice-panel-footer">
                        <a ng-click="showChoiceDetails(3)" class="cursor-pointer font-19px benefit-title-font-color"><u>Click to see portfolio & stats</u></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="margin-top-100 text-center font-color-blue font-23px">
                    <b>Still want more options ?</b>
                </div>
                <div class="margin-top-20 text-center font-color-blue font-16px">
                    <a href="#/portfolio-gallery" class="font-color-blue font-16px"><u>Click here</u></a> to see all IQ Vestment Adaptive Dynamic Portfolios
                </div>
                <div class="margin-top-20 text-center font-color-blue font-22px">
                    OR
                </div>
                <div class="margin-top-20 text-center font-color-blue font-16px">
                    <a href="#/personalized-iqvestment" class="font-color-blue font-16px"><u>Click here</u></a> to create your own IQ Vestment Adaptive Dynamic Portfolio
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 margin-top-30">
                <div class="col-xs-12 col-sm-8 col-md-8">
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 text-right copy-of-your-account-link-container">
                    <a class="copy-of-your-account-link" href="#/open-account-question-2"><img src="images/back_new_img.png">&nbsp;Back</a>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 copy-of-your-account-link-container">
                    <a class="copy-of-your-account-link" href="#/"><img src="images/home_new_img.png">&nbsp;Home</a>
                </div>
            </div>
        </div>
    </div>
</section>