<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>MORE INVESTMENT OPTIONS</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section id="copy-of-your-account">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="get-started-1-title font-color-blue">
                    <b>Investment Options</b>
                </div>
                <div class="font-20px margin-top-20">
                    Based on your risk profile and your higher level of investment knowledge we have several options that could be perfect for you!
                </div>
            </div>
        </div>
        
        <div class="margin-top-20 col-xs-12 col-sm-12 col-md-12">
            <div class="adp-gallery-panel">
                <div class="adp-panel-header">
                    <div class="font-26px">
                        Available Products
                    </div>
                </div>
                <div class="adp-panel-body">
                    <div class="row margin-0">
                        <div ng-repeat="product in availableProducts | orderBy:'id'" ng-class="{'border-bottom-dot': (parseInt(product.id / 4) < (ceilInt(availableProducts.length / 4) - 1))}" class="col-xs-12 col-sm-3 col-md-3 text-center ">
                            <div class="margin-top-20 benefit-title-font-color font-20px height-40">
                                {{ product.description }}
                            </div>
                            <div class="margin-top-10">
                                <a href="javascript:;"><img class="choice-image-cotainter" ng-src="images/carts/{{ product.imageName }}.png"/></a>
                            </div>
                            <div class="margin-top-5 benefit-title-font-color font-19px">
                                Master Score
                            </div>
                            <div class="margin-top-10 choice-panel-btn font-22px">
                                {{ product.customStats.compositeMasterScore }}
                            </div>
 <!--                            <div class="margin-top-20 text-center">
                                <div class="benefit-title-font-color font-15px text-center">
                                    30-Day Return <a class="font-color-green">+0.0%</a>
                                </div>
                            </div> -->
                            <div class="padding-left-20 padding-right-20 padding-bottom-30">
                                <rzslider 
                                    class="iq-vestment-slider"
                                    rz-slider-model="product.selectPercentage"
                                    rz-slider-options="slider.options">
                                </rzslider>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <!--  <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="choice-panel">
                    <div class="choice-panel-header panel-header-selected">
                        Best Option
                    </div>
                    <div class="choice-panel-body panel-body-selected">
                        <div class="benefit-title-font-color font-22px text-center">
                            Fundamental Focus
                        </div>
                        <div class="margin-top-10 text-center">
                            <img class="choice-image-cotainter" src="images/choice_fundamental_focus.png"/>
                        </div>
                        <div class=" benefit-title-font-color font-20px text-center">
                            Master Score
                        </div>
                        <div class="margin-top-10 choice-panel-btn font-22px">
                            83
                        </div>
                        <div class="margin-top-10 color-grey width-90per">
                            <hr>
                        </div>
                        <div class="margin-top-10 benefit-title-font-color font-15px text-center line-height-20">
                            The Fundamental Focus Cart contains the most favorable positive Fundamental stocks, using FusionIQ's proprietary four-dimensional, dynamic scoring system. Scores rank from 100 (best) to 1 (worst).
                        </div>
                    </div>
                    <div class="choice-panel-footer panel-footer-selected">
                        <a ng-click="showChoiceDetails(1)" class="cursor-pointer font-19px color-white"><u>Click to see portfolio & stats</u></a>
                    </div>
                </div>
            </div>
        </div>
            -->
        <div ng-hide="true">{{totalPercent()}}</div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 margin-top-30">
                <div class="col-xs-12 col-sm-7 col-md-7">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <a ng-class="{disabled: totalPercent() != 100}" ng-click="onOk(totalPercent())" class="btn-ok">OK</a>
                    <a ng-click="fixit(totalPercent())" class="btn-ok">Fix It</a>
                    <a ng-click="cancel()" class="btn-ok">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</section>