<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>MY CUSTOM IQ VESTMENT</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section>
    <div class="container cart-container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="font-color-blue font-27px">
                    Customize Your IQ Vestment Portfolio
                </div>
                <div class="margin-top-10 font-color-purple font-18px">
                    Didn't find exactly what you're looking for ? With the few clicks on the mouse create your own, self-directed portfolio!
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="font-17px benefit-title-font-color">
                    Choose Your Universe
                </div>
                <div class="margin-top-5">
                    <select class="open-account-question-select">
                        <option value="" disabled selected>All Stocks</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="font-17px benefit-title-font-color">
                    Choose # of Holdings
                </div>
                <div class="margin-top-5">
                    <input class="get-started-1-input-age-content padding-left-10" placeholder="Enter number of stocks">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="font-17px benefit-title-font-color">
                    Choose Your ADP Name
                </div>
                <div class="margin-top-5">
                    <input class="get-started-1-input-age-content padding-left-10" placeholder="Name Portfolio">
                </div>
            </div>
        </div>


        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-4 col-md-4 padding-0">
                <div class="height-35 iq-slider-title font-17px">
                    <input type="checkbox" class="">
                    Set Master Score Range
                </div>
                <div class="padding-left-15 padding-right-15">
                    <rzslider 
                        class="iq-vestment-slider"
                        rz-slider-model="masterScoreSlider.minValue"
                        rz-slider-high="masterScoreSlider.maxValue"
                        rz-slider-options="masterScoreSlider.options">
                        
                    </rzslider>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 padding-0">
                <div class="height-35 iq-slider-title font-17px">
                    <input type="checkbox" class="">
                    Set Beta Range
                </div>
                <div class="padding-left-15 padding-right-15">
                    <rzslider 
                        class="iq-vestment-slider"
                        rz-slider-model="betaRangeSlider.minValue"
                        rz-slider-high="betaRangeSlider.maxValue"
                        rz-slider-options="betaRangeSlider.options">
                        
                    </rzslider>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 padding-0">
                <div class="height-35 iq-slider-title font-17px">
                    <input type="checkbox" class="">
                    Set Market Cap Range
                </div>
                <div class="padding-left-15 padding-right-15">
                    <rzslider 
                        class="iq-vestment-slider"
                        rz-slider-model="marketCapRangeSlider.minValue"
                        rz-slider-high="marketCapRangeSlider.maxValue"
                        rz-slider-options="marketCapRangeSlider.options">
                        
                    </rzslider>
                </div>
            </div>
        </div>

        <div class="margin-top-30 row grey-hr-line">

        </div>

        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-4 col-md-4 padding-0">
                <div class="height-35 iq-slider-title font-17px">
                    <input type="checkbox" class="">
                    Set Safety Score Range
                </div>
                <div class="padding-left-15 padding-right-15">
                    <rzslider 
                        class="iq-vestment-slider"
                        rz-slider-model="safteScoreRangeSlider.minValue"
                        rz-slider-high="safteScoreRangeSlider.maxValue"
                        rz-slider-options="safteScoreRangeSlider.options">
                        
                    </rzslider>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 padding-0">
                <div class="height-35 iq-slider-title font-17px">
                    <input type="checkbox" class="">
                    Dividend Yield Range
                </div>
                <div class="padding-left-15 padding-right-15">
                    <rzslider 
                        class="iq-vestment-slider"
                        rz-slider-model="dividendYieldRangeSlider.minValue"
                        rz-slider-high="dividendYieldRangeSlider.maxValue"
                        rz-slider-options="dividendYieldRangeSlider.options">
                        
                    </rzslider>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 padding-0">
                <div class="height-35 iq-slider-title font-17px">
                    <input type="checkbox" class="">
                    Price To Earnings Growth Ratio
                </div>
                <div class="padding-left-15 padding-right-15">
                    <rzslider 
                        class="iq-vestment-slider"
                        rz-slider-model="earningsGrowRatioSlider.minValue"
                        rz-slider-high="earningsGrowRatioSlider.maxValue"
                        rz-slider-options="earningsGrowRatioSlider.options">
                        
                    </rzslider>
                </div>
            </div>
        </div>

        <div class="margin-top-50 row grey-hr-line">

        </div>

        <div class="row margin-top-10">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="font-16px font-color-bright-blue float-right-class">
                    <a class="font-16px font-color-bright-blue"><u>Click Here</u></a> to see more filter options 
                </div>
            </div>
        </div>

        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="benefit-title-font-color font-22px">
                    Your New IQ Vestment ADP
                </div>
            </div>
        </div>
        <div class="row margin-top-10" style="z-index: 100;">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <table class="table">
                    <thead class="table table-striped">
                        <tr class="cart-table-header">
                            <th class="cart-header-detail">Symbol</th>
                            <th class="cart-header-detail">Description</th>
                            <th class="cart-header-detail">Group</th>
                            <th class="cart-header-detail min-width-112">Master Score<img title="The four-dimensional, FusionIQ stock score. 1 is the worst score – 100 best score." class="float-right-class" src="images/header_question_mark.png"></th>
                            <th class="cart-header-detail min-width-112">Safety Score<img title="The stock safety score.  Scored high, moderate and low safety. A measure of volatility, beta and a company’s balance sheet safety." class="float-right-class" src="images/header_question_mark.png"></th>
                            <th class="cart-header-detail">%Weight</th>
                        </tr>
                    </thead>
                    <tbody class="cart-table-body">
                        <tr ng-repeat="holding in jsonTable.holdings">
                            <td ng-class="{'cart-unselected-body': holding.selectedFlag == false, 'cart-selected-body': holding.selectedFlag === true}">{{holding.symbol}}</td>
                            <td ng-class="{'cart-unselected-body': holding.selectedFlag == false, 'cart-selected-body': holding.selectedFlag === true}">{{holding.description}}</td>
                            <td ng-class="{'cart-unselected-body': holding.selectedFlag == false, 'cart-selected-body': holding.selectedFlag === true}">{{holding.group}}</td>
                            <td ng-class="{'cart-unselected-body': holding.selectedFlag == false, 'cart-selected-body': holding.selectedFlag === true}" class="text-center">{{holding.customStats.masterScore}}</td>
                            <td ng-class="{'cart-unselected-body': holding.selectedFlag == false, 'cart-selected-body': holding.selectedFlag === true}" class="text-center">{{holding.customStats.safetyScore}}</td>
                            <td ng-class="{'cart-unselected-body': holding.selectedFlag == false, 'cart-selected-body': holding.selectedFlag === true}">{{holding.percentWeight * 100 | number:1}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <table class="table">
                    <thead class="table table-striped">
                        <tr class="cart-table-header">
                            <th class="cart-header-detail text-left">Stat</th>
                            <th class="cart-header-detail text-center">Value</th>
                        </tr>
                    </thead>
                  <tbody class="cart-table-body">
                        <tr>
                            <td class="cart-body-detail text-left">Holdings<img title="The number of equities held in your portfolio." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.commonStats.totalHoldings }}</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Composite Master Score<img title="The four-dimensional, FusionIQ portfolio score. 1 is the worst score – 100 best score." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.customStats.compositeMasterScore }}</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Composite Safety Score<img title="The portfolio safety score.  Scored high, moderate and low safety. A measure of volatility, beta and a company’s balance sheet safety." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.customStats.compositeSafetyScore }}</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Market Cap<img title="The market value of all shares outstanding in a company." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">USD ${{ jsonProduct.commonStats.aggregateMarketCap / 1000000000| number: 1}}B</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Beta<img title="is a measure of the volatility, or systematic risk, of a security or a portfolio in comparison to the market as a whole." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.commonStats.aggregateBeta }}</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Dividend Yield<img title="A measure of how much the portfolio pays out in dividends each year, represented as a percentage." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.commonStats.aggregateDividend | number: 2 }}%</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">30-Day Return<img title="The portfolios return over the trailing 30 days." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">1.69%</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Price-to-Earnings(PE)<img title="The aggregate Price to Earnings (PE) ratio for the portfolio.  The PE ratio is a method of valuing the portfolio by valuing the companies held in the portfolio by their current share price relative to their per share earnings. Low PE ratios are considered undervalued, whereas high PE ratios are considered overvalued." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.commonStats.aggregatePeRatio | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Price-to-Book(PB)<img title="The aggregate Price to Book (PB) ratio for the portfolio. The PB ratio is a method for valuing the portfolio by valuing the companies held in the portfolio by comparing its market value to its book value. Low PB ratios are considered undervalued, whereas high PB ratios are considered overvalued." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.commonStats.aggregatePbRatio | number: 2 }}</td>
                        </tr>
                        <tr>
                            <td class="cart-body-detail text-left">Price-to-Sales(PS)<img title="The aggregate Price to Sales (PS) ratio for the portfolio. The PS ratio is a method of valuing the portfolio by valuing the companies held in the portfolio by their stock price to their revenues. Low PS ratios are considered undervalued, whereas high PS ratios are considered overvalued." class="float-right-class" src="images/question_mark.png"></td>
                            <td class="cart-body-detail text-center">{{ jsonProduct.commonStats.aggregatePsRatio | number: 2 }}</td>
                        </tr>
                  </tbody>
                </table>
                <div class="text-center font-20px">Industry Group Allocation</div>

                <div class="google-chart-container">
                    <div google-chart id="google-chart" chart="chart"  class="google-chart-class" agc-on-mouseover="mouseoverHandler(row, column)" agc-on-mouseout="mouseoutHandler(row,column)"> </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a href="#/open-account-1" class="btn-purchase-adp">Click to purchase ADP</a>
                <a href="#/contact" class="btn-purchase-adp margin-left-10">Save to Watchlist</a>
            </div>
        </div>
    </div>
</section>
