<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="full-width-background-div height-383" style="background: url(images/iq_stockcarts_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                      <div class="container">
                        <h4>ADAPTIVE DYNAMIC PORTFOLIOS</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="border-bottom-2px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 get-started-1-title">
                Adaptive Dynamic Portfolios (ADPs)
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 iq-stock-title-font">
                The power of advanced math, data and technology ... to deliver dynamic adaptive portfolios
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 iq-stock-detail-font">
                IQ Vestment's Adaptive Dynamic Portfolios (ADPs) are powered by FusionIQ’s  proprietary four-dimensional scoring model, which, includes but is not limited to: valuation, balance sheet strength, improving financials, price momentum, sentiment, and a broad range of technical factors.
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 iq-stock-detail-font">
                Our model is grounded in the belief that simpler is better, but more relevant information is preferred to less. The value-add of our model comes from the stability we present using quality, time-tested factors, and from providing a dynamic weighting scheme which amplifies the models effectiveness by adjusting the factor weights for various market environments.
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 div-iq-stock-img">
                <div class="col-xs-12 col-sm-3 col-md-3 iq-stock-small-div">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <div>
                                <img class="iq-stock-small-image" src="images/iq_stockcarts_img1.png">
                            </div>
                            <div class="iq-stock-small-img-details">
                                ADVANCED MATH
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 red-font-40px">
                            +
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 iq-stock-small-div">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <div>
                                <img class="iq-stock-small-image" src="images/iq_stockcarts_img2.png">
                            </div>
                            <div class="iq-stock-small-img-details">
                                DATA
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 red-font-40px">
                            +
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 iq-stock-small-div">
                    <div class="row">
                        <div class="col-xs-12 col-sm-9 col-md-9">
                            <div>
                                <img class="iq-stock-small-image" src="images/iq_stockcarts_img3.png">
                            </div>
                            <div class="iq-stock-small-img-details">
                                TECHNOLOGY
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 red-font-40px">
                            =
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div>
                        <img class="iq-stock-medium-image" src="images/iq_stockcarts_img4.png">
                    </div>
                    <div class="iq-stock-medium-img-details font-20px">
                        IQ ADPs
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">   
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="get-started-1-title">
                    Four-dimensional, 100+ factor scoring.
                </div>
                <div class="iq-stock-title-font margin-top-20">
                    Fundamentals Factor Scoring
                </div>
                <div class="iq-stock-detail-font">
                    A dynamic, multi-factor fundamental model that examines over 70 factors. A proprietary algorithm determines which factors are most relevant given current market conditions and assigns those factors greater weight.
                </div>
                <div class="iq-stock-title-font margin-top-20">
                    Technical Factor Scoring
                </div>
                <div class="iq-stock-detail-font">
                    A proprietary weighting of multiple technical indicators, including three different time frames of trend, as well as individual, group fund flows and directional institutional ownership.
                </div>
                <div class="iq-stock-title-font margin-top-20">
                    Momentum Factor Scoring
                </div>
                <div class="iq-stock-detail-font">
                    The momentum score is a model that incorporates a scoring of stocks that have the best returns over various time frames, from short-term to longer-term (weeks to months to years). The model includes volume momentum and short-term price reversals.
                </div>
                <div class="iq-stock-title-font margin-top-20">
                    Sentiment Factor Scoring
                </div>
                <div class="iq-stock-detail-font">
                    The sentiment score is a model that incorporates the magnitude and direction of earnings revisions, as well as changes in expectations from the Wall Street analyst community.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="row margin-top-200 background-blue adaptive-panel-header">
                    <div class="col-xs-3 col-sm-5 col-md-5">
                        <img src="images/adaptive_panel.png">
                    </div>
                    <div class="col-xs-9 col-sm-7 col-md-7 font-white font-20px">
                        Want to chat?
                    </div>
                </div>
                <div class="margin-top-20 font-color-blue font-20px">
                    We are here for you!
                </div>
                <div class="margin-top-20 font-color-blue font-20px grey-bottom-border-1px padding-bottom-20px">
                    Click the chart icon for excellent customer service!
                </div>
            </div>
        </div>
        <div class="row margin-top-100">
            <div class="col-xs-12 col-sm-12 col-md-12 font-15px">
                <i>Note: These results are from a model portfolio backtest and not the results on a live, funded portfolio with real money. FusionIQ™ is a financial information and technology company with a proprietary algorithm for scoring stocks and ETF’s in four dimensions, empowering professional traders, registered investment advisors, institutions and family offices with smarter analytics for smarter investing.</i>
            </div>
        </div>
    </div>
</section>

<!-- <section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
