<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="full-width-background-div height-382" style="background: url(images/iq_stockcarts_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                      <div class="container">
                        <h4>INVESTMENT BENEFITS</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 get-started-1-title font-30px benefit-title-font-color">
                <b>Our benefits are rooted in ...</b>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="font-22px font-dark-blue-color grey-bottom-border-1px padding-bottom-20px margin-top-30">
                    Our Adaptive Dynamic Portfolios, 21st Century Investment Technology, Tax Harvesting, and our Low Investment Advisory Fees ...
                </div>
            </div>
        </div>
        <div class="row margin-top-50">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <img class="inve-image-container" src="images/inve_adaptive.png">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 margin-top-20">
                <div class="font-color-blue padding-bottom-5px font-20px border-bottom-2px">
                    ADAPTIVE DYNAMIC PORTFOLIOS
                </div>
                <div class="font-17px margin-top-10 font-color-black">
                    We provide adaptive dynamic portfolios, customized to your specific risk profile. We also build portfolios that are differentiated and not the same series of ETF that our competitors provide.
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <img class="inve-image-container" src="images/inve_21th.png">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 margin-top-20">
                <div class="font-color-blue padding-bottom-5px font-20px border-bottom-2px">
                    21st CENTURY TECHNOLOGY
                </div>
                <div class="font-17px margin-top-10 font-color-black">
                    By putting our emphasis, money and effort into investment, trading and technological infrastructure IQ Investment provides not only operational, and cost efficiencies, but our open architecture allows us to work with nearly every clearing , brokerage or advisory firm.
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <img class="inve-image-container" src="images/inve_tax.png">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 margin-top-20">
                <div class="font-color-blue padding-bottom-5px font-20px border-bottom-2px">
                    TAX LOSS HARVESTING
                </div>
                <div class="font-17px margin-top-10 font-color-black">
                    Our diversified equity portfolios permit taxable accounts an enhanced form of Tax-Loss Harvesting. We combined this with out Daily Tax-Loss Harvesting service.
                </div>
            </div>
        </div>
        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <img class="inve-image-container" src="images/inve_los.png">
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 margin-top-20">
                <div class="font-color-blue padding-bottom-5px font-20px border-bottom-2px">
                    LOW FEES
                </div>
                <div class="font-17px margin-top-10 font-color-black">
                    At IQ Investment we don't think in today's day and age investors should have to pay up to 1% of your assets per year in management fees, and other costs.  Our 21st century technology and algo driven approach allows our clients to put more of their moeny to work!
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <a href="#/contact" class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
</section> -->
