<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="full-width-background-div height-369" style="background: url(images/iq_stockcarts_main.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="iq-stock-background-title center-inner-div">
                      <div class="container">
                        <h4>METHODOLOGY</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="get-started-1-title">
                IQ Methodology
            </div>
            <div class="iq-stock-title-font">
                Smarter Analytics. Smarter Investing.
            </div>
            <div class="font-17px margin-top-20">
                IQ Vestment's Adaptive Dynamic Portfolios (ADPs) are automated portfolios that dynamically refactor the portfolio decision drivers (inputs) in the model's forensic, four dimensional algorithm, based on changing market conditions.  
            </div>
            <div class="font-17px margin-top-20">
                This deep analysis of portfolio holdings is based on four major investment themes; fundamentals, technicals, sentiment, and momentum. Drawing form a pool close to 100 factors, ADPs typically use anywhere from 30 - 50 factors in analyzing a stock for inclusion into a portfolio. This unbiased, unemotional, repeatable process allows for flexibility, consistency and evidence-based analysis.
            </div>
            <div class="font-17px margin-top-20">
                <b>In summary, ADPs are portfolios that identify changes in market structure then automatically adapt the portfolios to these changes.</b>
            </div>
            <div class="iq-stock-title-font">
                A portfolio methodology founded on deep, forensic analytics
            </div>
            <div class="font-17px margin-top-20">
                The methodology behind IQ Vestment's efficacy were validated by an independent expert research company. The analysis found that FusionIQ Master Scores above 70 and below 45 show valuable and consistent results over many different investment capitalizations and styles. Over the period 2013 through 2015 using a liquid universe with market capitalization above $200 million, stocks with a FusionIQ Master Score of 70 or more outperformed the universe 62% of the time, while stocks with a FusionIQ Master Score of less than 45 underperformed the universe 65% of the time. The average monthly model portfolio return for stocks, rebalanced monthly, with a FusionIQ Master Score of 70 or more was 35 bps above the universe while the average monthly return for stocks with a FusionIQ Master Score less than 45 was 72 bps below the universe.
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 ">
            <div class="row margin-top-100 background-blue metho-panel-header">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <img src="images/methodology_panel.png">
                </div>
                <div class="col-xs-9 col-sm-9 col-md-9 font-white">
                    Take our IQ for a test drive!
                </div>
            </div>
            <div class="row margin-top-3 background-blue metho-panel-body">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="margin-top-20">
                        Want to see the power of IQ Vestment in action ?
                    </div>
                    <div class="margin-top-30">
                        Take a no obligation test drive <a class="font-white font-15px" href="#/open-account-question-1"><u><b>here</b></u></a>
                    </div>
                </div>
            </div>
            <div class="row margin-top-5 metho-panel-footer">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="text-center">
                        <a href="#/contact" class="font-15px font-white">Questions?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-50">
        <div class="col-xs-12 col-sm-12 col-md-12 font-15px">
            <i>​​Note: These results are from a model portfolio backtest and not the results on a live, funded portfolio with real money. FusionIQ™ is a financial information and technology company with a proprietary algorithm for scoring stocks and ETF’s in four dimensions, empowering professional traders, registered investment advisors, institutions and family offices with smarter analytics for smarter investing.</i>
        </div>
    </div>
</section>

<!-- <section id="more-details" class="fadeInDown">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8">
                <div class="more-news-header">
                    <h3>Want more details? Contact us</h3>
                </div>
                <div class="more-news-details">
                    <div>We would love to assist you. Contact us by phone, email or via our social media channels.</div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 contact-us-div">
                <div class="btn-contact-us-section">
                    <button class="open-account-btn-contact-us btn-contact-us-clicker">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</section> -->
