<section id="main-slider" class="no-margin fadeInDown">
    <div class="faq-back-container margin-top-140">
        <div class="container">
            <div class="margin-top-80 width-95per margin-bottom-60">
                <input class="faq-search-input" placeholder="How can we help you?">
                <a class="faq-search-btn">Search</a>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section class="fadeInDown border-bottom-2px padding-0 faq-title-back">
    <div class="container padding-top-15 padding-bottom-15 font-color-black">
        <a href="#/faqs" class="font-color-black">FAQs</a>   > <a href="#/faqs-account-funding" class="font-color-black">Account Funding</a>  > <b>How do I fund my account ?</b>
    </div>
</section>

<section class="border-bottom-2px">
    <div class="container">
        
        <div class="row margin-top-30">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="row padding-bottom-15">
                    <div class="font-bold font-27px font-purple-color padding-top-15 line-height-30 font-bold">
                        Can I transfer over an existing account from another firm to IQ Vestment?
                    </div>
                </div>
                <div class="font-16px font-color-black font-bold">
                    Yes you can ! If you are a already a client, simply click "Transfer / rollover" on your dashboard after you login:
                </div>
                <div class="font-16px margin-top-20 font-color-black">
                    If you are not a client, simply click "<a href="#/" class="font-dark-blue-color font-underline">Invest now</a>" on our homepage and we will help you transfer your account to us.
                </div>
                <div class="font-16px margin-top-20 font-color-black">
                    We are able to transfer an outside account (including an IRA) in its entirety to Wealthfront using the industry-standard Automated Customer Account Transfer Service (ACATS). We'll also minimize any taxes during the transfer automatically.
                </div>
                <div class="font-16px margin-top-20 font-color-black">
                    <b>For IRAs:</b> Since transferring of IRAs is non taxable event.we sell your transferred assets and invest you in the appropriate IQ Vestment adaptive dynamic portfolio
                </div>
                <div class="font-16px margin-top-20 font-color-black">
                    <b>For taxable accounts:</b> we will do the same but in a tax-minimized way.
                </div>
                <div class="font-16px margin-top-20 font-color-black">
                    In particular, for taxable accounts, we will:
                </div>
                <div class="font-16px margin-top-20 font-color-black">
                    <ul class="decimal">
                        <li>
                            Incorporate compatible transferred assets Wherever possible IQ Vestment will replicate your current strategy directly into your, new  IQ Vestment adaptive investment mix whenever possible.
                        </li>
                        <li>
                            Sell assets with losses
                        </li>
                        <li>
                            Sell assets with long-term capital gains
                        </li>
                        <li>
                            Use short-term capital losses from daily tax-loss harvesting and Direct Indexing to offset short-term capital gains and accelerate your transition into the IQ Vestment adaptive dynamic portfolio.
                        </li>
                        <li>
                            Defer selling any other assets with short-term capital gains until they go long-term (owned for at least one year)
                        </li>
                    </ul>
                </div>
                <div class="font-16px margin-top-20 font-color-black">
                    To make your transition smoother, we do encourage you to sell assets incompatible with IQ Vestment such as; individual bonds, stock options, penny stocks, and mutual funds before initiating the transfer. Transferring accounts with these assets could delay or impede the transfer process.
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="padding-bottom-15 border-bottom-1px font-dark-blue-color font-17px padding-top-50">
                    Additional Account Funding FAQs
                </div>
                <div class="margin-top-10">
                    <a href="#/faqs-account-funding" class="font-15px font-dark-blue-color">How do fund my account ?</a>
                </div>
                <div class="margin-top-10">
                    <a href="#/faqs-additional-funds" class="font-15px font-dark-blue-color">How do I add funds to an existing account?</a>
                </div>
                <div class="margin-top-10">
                    <a class="font-15px font-dark-blue-color">When can I expect my money to be invested after IQ Vestment receives it ?</a>
                </div>
                <div class="margin-top-10">
                    <a class="font-15px font-dark-blue-color">Rollover: Can I roll over a 401k, 403b or TSP into an IRA?</a>
                </div>
                <div class="margin-top-10">
                    <a class="font-15px font-dark-blue-color">Can I transfer securities to and from my IQ Vestment account?</a>
                </div>
                <div class="margin-top-10">
                    <a href="#/faqs-micro-deposits" class="font-15px font-dark-blue-color">What are micro-deposits (bank linking) ?
                    Who should I contact if I am having trouble funding my account?</a>
                </div>
                <div class="margin-top-10">
                    <a class="font-15px font-dark-blue-color">May I dollar cost average to my account at regular intervals ?</a>
                </div>
                <div class="margin-top-10">
                    <a class="font-15px font-dark-blue-color">May I transfer funds from an account under a different name?</a>
                </div>
                <div class="margin-top-10">
                    <a class="font-15px font-dark-blue-color">What dollar amounts am I able to deposit into my IQ Vestment account ? Are there limits ?</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="fadeInDown border-bottom-2px faq-footer-back ">
    <div class="container margin-top-20 margin-bottom-20">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="faq-detail-container text-center">
                    
                    <div class="font-17px font-color-black font-bold margin-top-30">
                        Getting Started
                    </div>
                    <div class="font-15px font-color-black margin-top-5 width-70per">
                        Getting started is a piece of cake!  Simply click the icon below for our Risk Free Portfolio Analysis
                    </div>
                    <div>
                        <a><img class="border-circle" src="images/faq_getting_started.png"></a>
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="faq-detail-container text-center">
                   
                    <div class="font-17px font-color-black font-bold margin-top-30">
                        My IQ Vestment
                    </div>
                    <div class="font-15px font-color-black margin-top-5 width-70per ">
                        Have questions about your existing IQ Vestment Account. Click the icon below for answers!
                    </div>
                     <div>
                        <a><img class="border-circle" src="images/faq_my_iq_vestment.png"></a>
                    </div>
                   
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="faq-detail-container text-center">
                    
                    <div class="font-17px font-color-black font-bold margin-top-30">
                        Education Center
                    </div>
                    <div class="font-15px font-color-black margin-top-5 width-70per">
                        We currently offer four funding methods, which must originate from a U.S.-based financial institution.
                    </div>
                    <div>
                        <a><img class="border-circle" src="images/faq_education_center.png"></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>