<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="footer-details">© 2017 by IQ Vestment Advisors</div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                <ul class="pull-right">
                    <li><a href="https://twitter.com/myfusioniq?lang=en" class="footer-link" href="#"><img src="images/footer_twitter.png"></a></li>
                    <li><a href="https://www.linkedin.com/company-beta/11207868/" class="footer-link" href="#"><img src="images/footer_linkedin.png"></a></li>
                    <li><a href="https://vimeo.com/fusioniq" class="footer-link" href="#"><img src="images/footer_vimeo.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="footer-details margin-top-30">
                    <a href="#/about">ABOUT US</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/contact">CONTACT</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/blog">NEW & UPDATES</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/open-account-question-1">OPEN AN ACCOUNT</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="footer-details margin-top-30">
                    <a href="#/offerings">OFFERINGS</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/methodology">METHODOLOGY</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/news-media">NEW & MEDIA</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/blog">BLOG</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="footer-details margin-top-30">
                    <a href="#/faqs">FAQS</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/legal">LEGAL</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/careers">CAREERS</a>
                </div>
                <div class="footer-details margin-top-15">
                    <a href="#/open-account-question-1">OPEN ACCOUNT</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                
                <div class="footer-details font-14px margin-top-40">
                    This website is operated and maintained by ES Capital LLC, an SEC Registered Investment Advisor.
                </div>
                <div class="footer-details font-14px margin-top-15 font-underline">
                    <a href="#/terms-conditions">Terms & Legal Privacy Policy Trademarks</a>
                </div>
                <div class="footer-details font-14px margin-top-30">
                    Unless otherwise specified, all return figures shown above are for illustrative purposes only, and are not actual customer or model returns. Actual returns will vary greatly and depend on personal and market circumstances.
                </div>
                <div class="footer-details font-14px margin-top-15">
                    Investments: Not FDIC Insured • No Bank Guarantee • May Lose Value. Investing in securities involves risks, and there is always the potential of losing money when you invest in securities. Before investing, consider your investment objectives and ES Capital's charges and expenses. Past performance does not guarantee future results, and the likelihood of investment outcomes are hypothetical in nature. See full disclosures for more information. Not an offer, solicitation of an offer, or advice to buy or sell securities in jurisdictions where ES Capital is not registered. Market Data provided by Morningstar, and Xignite.
                </div>
            </div>
        </div>
                
    </div>
</footer>
