<header id="header">
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container" >
            <div class="login-field">
                <div class="dropdown float-right-class margin-top-20 margin-right-10">
                    <a class="dropdown-toggle user-menu" data-toggle="dropdown">{{currentUserName}}
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu right-0">
                      <li><a href="#/profile">My Profile</a></li>
                      <li><a ng-click="logout()">Log out</a></li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand big-logo" href="#/"><img src="images/iq_vestment_logo.png" alt="logo"></a>
                <a class="navbar-brand small-logo" href="#/"><img src="images/white_logo.png" alt="logo"></a>
                <!-- <a class="navbar-brand" href="#/"><img class="logo-container" alt="logo"></a> -->
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#/">Home</a></li>
                    <li><a href="#/about">About</a></li>
                    <li class="dropdown">
                        <a href="#/offerings">Offerings</a>
                        <ul class="dropdown-menu">
                            <li><a href="#/adaptive-dynamic-portfolios">Adaptive Dynamic Portfolios</a></li>
                            <li><a href="#/methodology">Methodology</a></li>
                            <li><a href="#/investment-benefits">Investment Benefits</a></li>
                            <li><a href="#/adp-gallery">ADP Gallery</a></li>
                        </ul>
                    </li>
                    <li><a href="#/account-overview" ng-click="clickedOpenAccount()">My Account</a></li>
                    <li class="dropdown">
                        <a href="#/news-media">News & Media</a>
                        <ul class="dropdown-menu">
                            <li><a href="#/blog">IQ Insights Blog</a></li>
                            <li><a href="#/videos">Videos</a></li>
                            <li><a href="#/company-news">Company News</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#/help-center">Help Center</a>
                        <ul class="dropdown-menu">
                            <li><a href="#/faqs-getting-started">Getting Started</a></li>
                            <li><a href="#/faqs-my-iq-vestment">My IQ Vestment</a></li>
                            <li><a href="#/faqs-education-center">Education Center</a></li>
                            <!-- <li><a href="#/faqs">FAQs</a></li> -->
                        </ul>
                    </li>
                    <!-- <li><a href="#/news">News & Blog</a></li> -->
                    <!-- <li><a href="#/faqs">FAQs</a></li> -->
                    <li><a href="#/contact">Contact</a></li>
                    <li class="margin-left-0"><a href="#/login" id="nav-signup-mobile">Log In</a></li>
                    <li class="margin-left-0"><a href="#/open-account-question-1" id="nav-login-mobile">Free Trial</a></li>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->
</header>
