<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>OPEN YOUR ACCOUNT</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#main-slider-->

<section id="copy-of-your-account" class="">
    <div class="container">
        <div class="row fade">

            <form class="col-xs-12 col-md-6 col-md-6 z-index-100 fade">
                
                <div class="label-input-container">
                    <div class="label-container">
                        Please check your email to get the link to resume.
                    </div>
                </div>
                <div class="button-container row">
                    <div class="col-xs-12 col-sm-6 col-md-6">

                    </div>
                    <div class="col-xs-12 col-md-6 col-md-6 margin-top-20">
                        <a class="copy-of-your-account-link float-right-class" href="#/"><img src="images/next_new_img.png"> Home</a>
                    </div>
                </div>
            </form>
            <div class="col-xs-12 col-md-5 col-md-5 float-right">
                <div class="panel panel-container">
                    <div class="panel-heading lock-panel-header row">
                        <div class="col-xs-12 col-md-2 col-md-2 div-center lock-image-container">
                            <img src="images/panel_lock_dark.png">
                        </div>
                        <div class="col-xs-12 col-md-10 col-md-10">
                            <div class="panel-title pull-center">
                                We safeguard your information and account with Bank Level Security
                            </div>
                        </div>    
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        We use the most state of the art security measures to protect your information and account.
                        <div class="see-privacy-policy panel-text-underline">
                            Learn More
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href="#/contact">Questions?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
