<section id="main-slider" class="no-margin fadeInDown">
    <div class="open-account-full-width-container block-1">
        <div class="open-account-full-width-background" style="background: url(images/open_account_img.png) no-repeat center center; background-size: 100% 100%;">
        </div>
        <div class="open-account-full-width-containter-content">
            <div class="open-account-background-mask">
                <div class="open-account-center-cn-div">
                    <div class="open-account-background-title center-inner-div">
                      <div class="container">
                        <h4>MY PROFILE</h4>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row margin-top-20">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="navbar-collapse padding-0">
                    <ul class="nav navbar-nav">
                        <li id="profile-table-nav-1" ng-click="activeProfileTableNav(0)" class="padding-bottom-0 border-right-class"><a href="#/profile">Personal Information</a></li>
                        <li id="profile-table-nav-2" ng-click="activeProfileTableNav(1)" class="padding-bottom-0 border-right-class account-active-tab"><a href="#/profile/investment-preference">Investment Preferences</a></li>
                        <li id="profile-table-nav-3" ng-click="activeProfileTableNav(2)" class="padding-bottom-0 border-right-class "><a href="#/profile/security">Security</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="account-table-spliter">

        </div>
    </div>
</section>

<section>
	<div class="container">
		<div class="profile-label-input-container">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Annual Income
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="annualIncomeUSD" class="portfolio-select" ng-options="each.text for each in selectData['annualIncome'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Fedral Tax Bracket Percent
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<input ng-model="federalTaxBracketPercent" class="portfolio-input">
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Investment Experience
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="investmentExperience" class="portfolio-select" ng-options="each.text for each in selectData['investmentExperience'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Investment Objective
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="investmentObjective" class="portfolio-select" ng-options="each.text for each in selectData['investmentObjective'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Liquid Net Worth
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="liquidNetWorthUSD" class="portfolio-select" ng-options="each.text for each in selectData['netWorth'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Liquidity Needs
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="liquidityNeeds" class="portfolio-select" ng-options="each.text for each in selectData['liquidityNeeds'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Risk Tolerance
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="riskTolerance" class="portfolio-select" ng-options="each.text for each in selectData['riskTolerance'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Time Horizon
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="timeHorizon" class="portfolio-select" ng-options="each.text for each in selectData['timeHorizon'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="profile-label-input-container margin-top-20">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<div class="profile-label-container height-35">
						Total Net Worth
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8">
					<select ng-model="totalNetWorthUSD" class="portfolio-select" ng-options="each.text for each in selectData['netWorth'] track by each.value">
					</select>
				</div>
			</div>
		</div>
		<div class="float-right-class width-180 margin-top-20">
			<a type="button" href="" ng-click="postInvestPreference()" class="btn-form-login text-center continue-clicker float-left div-bottom">Update</a>
		</div>
	</div>
</section>